.article_body pre{display: none;}
.article_body .demo_con{margin-top: 14px;}
.article_body table{margin-left: 30px;}

.ash_chart_con{position: relative;}
.ash_chart_con canvas{min-width: 500px; }
.ash_chart_con .motionCanvas{position: absolute; top: 0px; left: 0px;}

.ash_chart_tag_con a{ display: inline-block;vertical-align: top; position: relative; margin-left: 30px; height: 20px; line-height: 20px;}
.ash_chart_tag_con a *{vertical-align: top;	}
.ash_chart_tag_con a i{display: inline-block;width: 20px; height: 20px; margin-right: 14px;}