.svg_con{margin: 40px auto;width: 100%; position: relative;}

.intro {margin-top: 20px;}
.intro h1{text-align: center; font-size: 24px; color: #858688;font-weight: normal;}
.svg_map{display: block; width: 100%; }


#CN,#US{fill:#858688; }
#CN:hover,#US:hover{fill:#07C1E4; cursor: pointer;}

@media only screen and (max-width: 768px) {
	.intro h1{font-size: 20px; }
}

@media only screen and (max-width: 350px) {
	.intro h1{font-size: 14px;}
}