<header class="header">
  	<div class="NavContent">
	    <a href="/" class="logo"><img src="<%= Source_img %><%= Version %>/logo.svg"><span>Prototype//:&nbsp;</span><span class="orange">Depot</span></a>
	    <input class="menu-btn" type="checkbox" id="menu-btn" />
	    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
		<ul class="Nav">
			<li><a href='<%= Source_nav %>motion/guide/guide.html'>Guide</a></li>
			<li><a href='<%= Source_nav %>motion/realization/activity-menu.html'>Realization</a></li>
		</ul>    
    </div>
</header>




