.article{position: relative;}
.article_header{ height: 70px; line-height: 70px; width: 100%; margin-top: 40px;}
.article_header h1{font-weight:300; font-size:48px; text-align: left; color: #212121; width: 100%;height: 40px; line-height: 40px;}
.article_header .article_inprogress{font-size: 18px; height: 48px; line-height: 48px;  color: #F5A623;text-align: left;margin-right: 0%;}
.article_header p{height: 30px; line-height: 60px; width: 80%; font-size: 18px; color: #858688;margin-right: 20%; text-align: right;  position: relative;}
.article_header p i{display: block; width: 30px; height: 30px; border-radius: 50%; position: absolute; /* top: 0px; right: -40px;*/ top:15px; left: 0; background-repeat: no-repeat; background-position: center;background-size: cover; }
.article_header p span{position: absolute;left: 45px; top:0;}

.article_body,.article_footer{padding: 0 100px 0 150px; margin-top: 40px;}
.article_body {padding: 0;}
.article_body p{color: #292929; margin-bottom: 15px; line-height: 21px; word-wrap:break-word; }
.article_body p em {color: #292929; margin-bottom: 15px;font-size:14px;} /* for disclaimers */
.article_body a{color: #07C1E4;display: inline;word-wrap:break-word; max-width: 90%;  }
.article_body *:first-child{margin-top: 0px;}
.article_body pre{margin-top: 20px;}
.article_body p img { max-width: 80%;  margin-right: 20px; flex: 1;}
.article_body p img[alt="mobile"],.article_body p img[alt="Desktop"],.article_body p img[alt="MX800"],.article_body p img[alt="SparkBoard"]{max-width: 28%; height: 150px;}
.article_body h1{font-size: 24px; color: #343537; line-height: 30px; margin-top: 40px; margin-bottom: 15px; font-weight: 300;}
.article_body h2{font-size: 18px; color: #343537; line-height: 20px; margin-top: 40px;}
.article_body h3{font-size: 16px; color: #343537; line-height: 20px; margin-top: 20px;}
.article_body h4{font-size: 16px; color: #343537; line-height: 20px; margin-top: 20px;} /*margin-bottom: -10px;*/
.article_body ol ul li{text-indent:15px;list-style: circle; list-style-position: inside;}

.article_body pre{background: #23241F; color: #fff; display: block; padding: 5px 10px; font-size: 16px; line-height: 21px; margin: 15px 0; white-space: pre-wrap; word-wrap: break-word;}


table{margin-top: 20px;}
table,td,th,tr{height: 40px; line-height: 40px; color: #333; text-align: left;}
table{border-collapse:collapse;}
th,tr:nth-child(even){background-color: #f8f8f8;}
tr:nth-child(odd){background-color: #fff;}
td,th{border:1px solid #ccc; padding: 0 14px;}

@media only screen and (max-width: 768px) {
	.article_body {padding:0 20px;}
	.article_header{ height: 65px;line-height: 65px;}
	.article_header h1{font-size:32px; line-height: 32px;}
	.article_header p{font-size: 18px;height: 25px; line-height: 25px;}
	.article_header .article_inprogress{font-size: 16px; height: 30px; line-height: 30px;}
	/*.article_header p i{ width: 25px; height: 25px;  right: -30px; }*/
	.article_header p i{display: block; width: 25px; height: 25px; top:5px; left: 0; }
	.article_header p span{position: absolute;left: 30px; top:5px;}
	.article_body h4{margin-top: 20px;} 
}

@media only screen and (max-width: 480px) {
	.article_header{ padding:0 20px; margin-top: 0; height: 50px;line-height: 50px;}
	.article_header h1{font-size:35px;  line-height: 30px;margin-top: 0px;}
	.article_header p{font-size: 14px;height: 20px; line-height: 20px;}
	.article_header .article_inprogress{font-size: 16px; height: 20px; line-height: 20px;}
	/*.article_header p i{ width: 20px; height: 20px;  right: -25px; }*/
	.article_header p i{display: block; width: 20px; height: 20px; top:5px; left: 0; }
	.article_header p span{position: absolute;left: 25px; top:5px;}
	.article_body h4{margin-top: 20px!important;} 
	.article_body p img[alt="mobile"],.article_body p img[alt="Desktop"],.article_body p img[alt="MX800"],.article_body p img[alt="SparkBoard"]{display: none;}
}