<svg data-svg width="502px" height="192px" viewBox="0 0 502 192" version="1.1" xmlns="http://www.w3.org/2000/svg"  preserveAspectRatio="xMinYMin meet" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch -->
    <title>Research</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0 143 154.317588 143 154.317588 0.0458421053 0 0.0458421053"></polygon>
        <polygon id="path-3" points="0.1123 0.471 59.7713 0.471 59.7713 107.0805 0.1123 107.0805"></polygon>
        <polygon id="path-5" points="8.6597938e-16 38.0797 8.6597938e-16 0.5117 45.0296 0.5117 45.0296 38.0797 0 38.0797"></polygon>
        <polygon id="path-7" points="0 134.529 93.086 134.529 93.086 1 0 1"></polygon>
        <polygon id="path-9" points="0 172.5 180.894 172.5 180.894 0 0 0"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Research">
            <g id="Group-7" transform="translate(9.000000, 18.000000)">
                <g id="Group" transform="translate(0.000000, 108.000000)" fill="#FFFFFF">
                    <path d="M10.041,5.014 C10.041,7.79 7.794,10.038 5.025,10.038 C2.247,10.038 0,7.79 0,5.014 C0,2.245 2.247,0 5.025,0 C7.794,0 10.041,2.245 10.041,5.014" id="Fill-41"></path>
                    <path d="M27.041,5.014 C27.041,7.79 24.794,10.038 22.025,10.038 C19.247,10.038 17,7.79 17,5.014 C17,2.245 19.247,0 22.025,0 C24.794,0 27.041,2.245 27.041,5.014" id="Fill-41"></path>
                    <path d="M44.041,5.014 C44.041,7.79 41.794,10.038 39.025,10.038 C36.247,10.038 34,7.79 34,5.014 C34,2.245 36.247,0 39.025,0 C41.794,0 44.041,2.245 44.041,5.014" id="Fill-41"></path>
                    <path d="M62.041,5.014 C62.041,7.79 59.794,10.038 57.025,10.038 C54.247,10.038 52,7.79 52,5.014 C52,2.245 54.247,0 57.025,0 C59.794,0 62.041,2.245 62.041,5.014" id="Fill-41"></path>
                    <path d="M79.041,5.014 C79.041,7.79 76.794,10.038 74.025,10.038 C71.247,10.038 69,7.79 69,5.014 C69,2.245 71.247,0 74.025,0 C76.794,0 79.041,2.245 79.041,5.014" id="Fill-41"></path>
                    <path d="M96.041,5.014 C96.041,7.79 93.794,10.038 91.025,10.038 C88.247,10.038 86,7.79 86,5.014 C86,2.245 88.247,0 91.025,0 C93.794,0 96.041,2.245 96.041,5.014" id="Fill-41"></path>
                    <path d="M113.041,5.014 C113.041,7.79 110.794,10.038 108.025,10.038 C105.247,10.038 103,7.79 103,5.014 C103,2.245 105.247,0 108.025,0 C110.794,0 113.041,2.245 113.041,5.014" id="Fill-41"></path>
                    <path d="M130.041,5.014 C130.041,7.79 127.794,10.038 125.025,10.038 C122.247,10.038 120,7.79 120,5.014 C120,2.245 122.247,0 125.025,0 C127.794,0 130.041,2.245 130.041,5.014" id="Fill-41"></path>
                    <path d="M148.041,5.014 C148.041,7.79 145.794,10.038 143.025,10.038 C140.247,10.038 138,7.79 138,5.014 C138,2.245 140.247,0 143.025,0 C145.794,0 148.041,2.245 148.041,5.014" id="Fill-41"></path>
                    <path d="M165.041,5.014 C165.041,7.79 162.794,10.038 160.025,10.038 C157.247,10.038 155,7.79 155,5.014 C155,2.245 157.247,0 160.025,0 C162.794,0 165.041,2.245 165.041,5.014" id="Fill-41"></path>
                    <path d="M182.041,5.014 C182.041,7.79 179.794,10.038 177.025,10.038 C174.247,10.038 172,7.79 172,5.014 C172,2.245 174.247,0 177.025,0 C179.794,0 182.041,2.245 182.041,5.014" id="Fill-41"></path>
                </g>
                <g id="Page-1" transform="translate(68.000000, 18.000000)">
                    <polygon id="Fill-1" fill="#242D3C" points="0 20 130 20 130 0 0 0"></polygon>
                    <polygon id="Fill-2" fill="#D9D8D7" points="0 131 130 131 130 20 0 20"></polygon>
                    <polygon id="Fill-3" fill="#FFFFFF" points="7 126 126 126 126 26 7 26"></polygon>
                    <polygon id="Fill-4" fill="#FFFFFF" points="48 13 109 13 109 6 48 6"></polygon>
                    <polygon id="Fill-5" fill="#FFFFFF" points="9 13 16 13 16 6 9 6"></polygon>
                    <polygon id="Fill-6" fill="#FFFFFF" points="21 13 28 13 28 6 21 6"></polygon>
                    <polygon id="Fill-7" fill="#FFFFFF" points="36 13 43 13 43 6 36 6"></polygon>
                    <polygon id="Fill-8" fill="#F15424" points="108 13 121 13 121 6 108 6"></polygon>
                    <polygon id="Fill-9" fill="#F15424" points="16 99 116 99 116 97 16 97"></polygon>
                    <polygon id="Fill-10" fill="#F15424" points="16 92 116 92 116 90 16 90"></polygon>
                    <polygon id="Fill-11" fill="#F15424" points="16 85 116 85 116 83 16 83"></polygon>
                    <polygon id="Fill-12" fill="#F15424" points="16 106 116 106 116 104 16 104"></polygon>
                    <polygon id="Fill-13" fill="#F15424" points="16 113 116 113 116 111 16 111"></polygon>
                    <polygon id="Fill-14" fill="#F15424" points="16 80 116 80 116 35 16 35"></polygon>
                    <polygon id="Fill-15" fill="#242D3C" points="111.963776 52 105.03691 52 103 61 114 61"></polygon>
                    <polygon id="Fill-16" fill="#242D3C" points="89.0897889 55 83 58.6522686 86.3527269 69 96 63.1923775"></polygon>
                    <polygon id="Fill-17" fill="#242D3C" points="69.3961471 72 66 78.0557968 73.601672 85 79 75.3292598"></polygon>
                    <polygon id="Fill-18" fill="#242D3C" points="62 93.0353117 62.0128275 99.9811297 71 102 71 91"></polygon>
                    <polygon id="Fill-19" fill="#242D3C" points="66 116.925019 69.3961471 123 79 119.654197 73.6023471 110"></polygon>
                    <polygon id="Fill-20" fill="#242D3C" points="83 135.343311 89.0897889 139 96 130.794055 86.3527269 125"></polygon>
                    <polygon id="Fill-21" fill="#242D3C" points="103 134 105.037596 143 111.963776 143 114 134"></polygon>
                    <polygon id="Fill-22" fill="#242D3C" points="128.920603 139 135 135.343311 131.647027 125 122 130.794055"></polygon>
                    <polygon id="Fill-23" fill="#242D3C" points="145.610222 123 149 116.925019 141.396634 110 136 119.654197"></polygon>
                    <polygon id="Fill-24" fill="#242D3C" points="144 102 153 99.9811297 153 93.0353117 144 91"></polygon>
                    <polygon id="Fill-25" fill="#242D3C" points="149 78.0557968 145.610222 72 136 75.3292598 141.396634 85"></polygon>
                    <polygon id="Fill-26" fill="#242D3C" points="135 58.6522686 128.91261 55 122 63.1923775 131.646848 69"></polygon>
                    <g id="Group-75">
                        <path d="M108.08668,59 C129.147533,59 146.240043,76.0178968 146.240043,97.0149517 C146.240043,118.006222 129.147533,135.024842 108.08668,135.024842 C87.0758386,135.024842 70,118.006222 70,97.0149517 C70,76.0178968 87.0758386,59 108.08668,59 Z" id="Fill-27" fill="#242D3C"></path>
                        <path d="M108.585524,125.317742 C93.0930686,125.317742 80.5387544,112.790532 80.5387544,97.3362684 C80.5387544,81.8833737 93.0930686,69.3561632 108.585524,69.3561632 C124.073865,69.3561632 136.63298,81.8833737 136.63298,97.3362684 C136.63298,112.790532 124.073865,125.317742 108.585524,125.317742 Z" id="Fill-29" fill="#FFFFFF"></path>
                        <path d="M108.585867,69.3565053 L108.585867,97.3366105 L136.633323,97.3366105 C136.633323,81.8837158 124.073522,69.3565053 108.585867,69.3565053" id="Fill-31" fill="#16C6CC"></path>
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="Clip-34"></g>
                        <polygon id="Fill-33" fill="#242D3C" mask="url(#mask-2)" points="107.886858 74.5385789 109.285288 74.5385789 109.285288 71.7374211 107.886858 71.7374211"></polygon>
                        <polygon id="Fill-35" fill="#242D3C" mask="url(#mask-2)" points="103.925648 75.0012421 103.4339 72.2472947 104.819299 72.0050842 105.304188 74.7617684"></polygon>
                        <polygon id="Fill-36" fill="#242D3C" mask="url(#mask-2)" points="100.110659 76.1518105 99.1449956 73.5203368 100.467982 73.0407053 101.427473 75.6708105"></polygon>
                        <polygon id="Fill-37" fill="#242D3C" mask="url(#mask-2)" points="96.5461394 77.9365053 95.1435951 75.5185053 96.3637058 74.8171895 97.7635066 77.2413474"></polygon>
                        <polygon id="Fill-38" fill="#242D3C" mask="url(#mask-2)" points="93.3500531 80.3192 91.5483496 78.1755684 92.6237478 77.2785684 94.4281947 79.4201474"></polygon>
                        <polygon id="Fill-39" fill="#242D3C" mask="url(#mask-2)" points="90.6227389 83.2171053 88.478115 81.4162632 89.3786239 80.3454737 91.5253053 82.1449474"></polygon>
                        <polygon id="Fill-40" fill="#242D3C" mask="url(#mask-2)" points="88.4325752 86.5419579 86.005385 85.1441158 86.7138584 83.9316947 89.1369336 85.3336421"></polygon>
                        <polygon id="Fill-41" fill="#242D3C" mask="url(#mask-2)" points="86.8639889 90.1942053 84.2262456 89.2404158 84.7083916 87.9239947 87.3447633 88.8832579"></polygon>
                        <polygon id="Fill-42" fill="#242D3C" mask="url(#mask-2)" points="85.9504491 94.0695737 83.1899403 93.5789947 83.432042 92.2016789 86.1932367 92.6888368"></polygon>
                        <polygon id="Fill-43" fill="#242D3C" mask="url(#mask-2)" points="85.7280996 98.0372421 82.9202677 98.0372421 82.9202677 96.6380316 85.7322146 96.6394"></polygon>
                        <polygon id="Fill-44" fill="#242D3C" mask="url(#mask-2)" points="83.4321106 102.473253 83.189323 101.094568 85.9532611 100.6122 86.1926195 101.988832"></polygon>
                        <polygon id="Fill-45" fill="#242D3C" mask="url(#mask-2)" points="84.7073628 106.753537 84.2265885 105.434379 86.8650177 104.481274 87.3505929 105.794958"></polygon>
                        <polygon id="Fill-46" fill="#242D3C" mask="url(#mask-2)" points="86.7126239 110.744537 86.0055221 109.534853 88.4368274 108.135642 89.1370708 109.348063"></polygon>
                        <polygon id="Fill-47" fill="#242D3C" mask="url(#mask-2)" points="89.378281 114.330621 88.4757146 113.259832 90.6237677 111.460358 91.5283916 112.531147"></polygon>
                        <polygon id="Fill-48" fill="#242D3C" mask="url(#mask-2)" points="92.6226504 117.399579 91.5486239 116.499158 93.352385 114.355526 94.428469 115.258"></polygon>
                        <polygon id="Fill-49" fill="#242D3C" mask="url(#mask-2)" points="96.3626084 119.860479 95.1438695 119.163268 96.5464137 116.738426 97.763781 117.437005"></polygon>
                        <polygon id="Fill-50" fill="#242D3C" mask="url(#mask-2)" points="100.468325 121.635116 99.1446527 121.158905 100.111002 118.529484 101.427131 119.006379"></polygon>
                        <polygon id="Fill-51" fill="#242D3C" mask="url(#mask-2)" points="104.819093 122.675458 103.433695 122.428458 103.925442 119.672458 105.303982 119.920142"></polygon>
                        <polygon id="Fill-52" fill="#242D3C" mask="url(#mask-2)" points="109.285082 122.942711 107.885281 122.939974 107.886653 120.143605 109.287825 120.143605"></polygon>
                        <polygon id="Fill-53" fill="#242D3C" mask="url(#mask-2)" points="112.352642 122.675458 111.863637 119.917405 113.249035 119.672458 113.731181 122.428458"></polygon>
                        <polygon id="Fill-54" fill="#242D3C" mask="url(#mask-2)" points="116.702106 121.635116 115.749473 119.006379 117.063544 118.527432 118.017549 121.158905"></polygon>
                        <polygon id="Fill-55" fill="#242D3C" mask="url(#mask-2)" points="120.809126 119.861095 119.410697 117.436253 120.623263 116.738358 122.020321 119.1632"></polygon>
                        <polygon id="Fill-56" fill="#242D3C" mask="url(#mask-2)" points="124.54106 117.399579 122.735241 115.254579 123.812697 114.355526 125.61783 116.501211"></polygon>
                        <polygon id="Fill-57" fill="#242D3C" mask="url(#mask-2)" points="127.793454 114.331305 125.644715 112.531147 126.545223 111.459674 128.694648 113.259832"></polygon>
                        <polygon id="Fill-58" fill="#242D3C" mask="url(#mask-2)" points="130.456436 110.744537 128.030617 109.345326 128.728117 108.134274 131.158051 109.534853"></polygon>
                        <polygon id="Fill-59" fill="#242D3C" mask="url(#mask-2)" points="132.463 106.754221 129.826628 105.792221 130.305345 104.479905 132.941031 105.435747"></polygon>
                        <polygon id="Fill-60" fill="#242D3C" mask="url(#mask-2)" points="133.734274 102.474553 130.972394 101.986711 131.217239 100.609395 133.984606 101.097237"></polygon>
                        <polygon id="Fill-61" fill="#242D3C" mask="url(#mask-2)" points="131.442058 98.0371053 134.249889 98.0371053 134.249889 96.6378947 131.442058 96.6378947"></polygon>
                        <polygon id="Fill-62" fill="#242D3C" mask="url(#mask-2)" points="131.217239 94.0682737 130.972394 92.6861684 133.734274 92.2010632 133.983235 93.5790632"></polygon>
                        <polygon id="Fill-63" fill="#242D3C" mask="url(#mask-2)" points="130.303699 90.1942053 129.82704 88.8818895 132.462726 87.9212579 132.938699 89.2390474"></polygon>
                        <polygon id="Fill-64" fill="#242D3C" mask="url(#mask-2)" points="128.727088 86.5379211 128.030274 85.3289211 130.456093 83.9310789 131.158394 85.1455526"></polygon>
                        <polygon id="Fill-65" fill="#242D3C" mask="url(#mask-2)" points="126.544949 83.2151211 125.643754 82.1429632 127.794551 80.3434895 128.693688 81.4163316"></polygon>
                        <polygon id="Fill-66" fill="#242D3C" mask="url(#mask-2)" points="123.807004 80.3185842 122.735721 79.4181632 124.538111 77.2745316 125.616938 78.1756368"></polygon>
                        <polygon id="Fill-67" fill="#242D3C" mask="url(#mask-2)" points="120.617571 77.9365053 119.407748 77.2372421 120.80892 74.8144526 122.020115 75.5157684"></polygon>
                        <polygon id="Fill-68" fill="#242D3C" mask="url(#mask-2)" points="117.059772 76.1518105 115.745701 75.6680737 116.704507 73.0393368 118.01652 73.5203368"></polygon>
                        <polygon id="Fill-69" fill="#242D3C" mask="url(#mask-2)" points="113.244783 75.0012421 111.859385 74.7604 112.352504 72.0050842 113.729673 72.2472947"></polygon>
                        <path d="M111.946761,97.3362684 C111.946761,99.1932158 110.445456,100.695742 108.586142,100.695742 C106.729571,100.695742 105.21935,99.1932158 105.21935,97.3362684 C105.21935,95.4834263 106.729571,93.9809 108.586142,93.9809 C110.445456,93.9809 111.946761,95.4834263 111.946761,97.3362684" id="Fill-70" fill="#FFFFFF" mask="url(#mask-2)"></path>
                        <path d="M108.585867,95.0958895 C107.350668,95.0958895 106.341111,96.1044158 106.341111,97.3359947 C106.341111,98.5703105 107.350668,99.5781526 108.585867,99.5781526 C109.822438,99.5781526 110.830624,98.5703105 110.830624,97.3359947 C110.830624,96.1044158 109.822438,95.0958895 108.585867,95.0958895 M108.585867,101.814837 C106.113412,101.814837 104.095668,99.8066789 104.095668,97.3359947 C104.095668,94.8701 106.113412,92.8626263 108.585867,92.8626263 C111.058323,92.8626263 113.07881,94.8701 113.07881,97.3359947 C113.07881,99.8066789 111.058323,101.814837 108.585867,101.814837" id="Fill-71" fill="#242D3C" mask="url(#mask-2)"></path>
                        <polygon id="Fill-72" fill="#242D3C" mask="url(#mask-2)" points="101.289757 98.4565263 105.219624 98.4565263 105.219624 96.2191579 101.289757 96.2191579"></polygon>
                        <polygon id="Fill-73" fill="#242D3C" mask="url(#mask-2)" points="111.947035 98.4565263 124.855929 98.4565263 124.855929 96.2191579 111.947035 96.2191579"></polygon>
                    </g>
                </g>
                <g id="svgPoint" transform="translate(425.535156, 93.144531) scale(-1, 1) rotate(-270.000000) translate(-425.535156, -93.144531) translate(378.535156, 25.644531)">
                    <g id="Group-3" transform="translate(30.000000, 0.529000)">
                        <mask id="mask-4" fill="white">
                            <use xlink:href="#path-3"></use>
                        </mask>
                        <g id="Clip-2"></g>
                        <path d="M57.5923,41.8945 C56.1343,40.4395 54.2253,39.7065 52.3213,39.7065 C50.4093,39.7065 48.5033,40.4395 47.0503,41.8945 C45.5863,43.3455 44.8613,45.2555 44.8613,47.1655 L44.8613,47.1715 C44.8613,45.2555 44.1263,43.3495 42.6723,41.8945 C41.2223,40.4395 39.3173,39.7065 37.4033,39.7065 C35.4953,39.7065 33.5853,40.4395 32.1313,41.8945 C30.6753,43.3495 29.9383,45.2555 29.9383,47.1715 L29.9383,47.1645 C29.9383,45.2515 29.2173,43.3415 27.7613,41.8905 C26.3063,40.4395 24.3993,39.7065 22.4923,39.7065 C20.5813,39.7065 18.6723,40.4395 17.2133,41.8905 C15.7593,43.3415 15.0283,45.2515 15.0283,47.1645 L15.0283,7.9255 C15.0283,6.0215 14.2973,4.1055 12.8373,2.6525 C11.3853,1.2015 9.4783,0.4705 7.5683,0.4705 C5.6603,0.4705 3.7523,1.2015 2.2983,2.6525 C0.8413,4.1055 0.1123,6.0215 0.1123,7.9255 L0.1123,107.0805 L15.0283,107.0805 L29.9383,107.0805 L44.8613,107.0805 L59.7713,107.0805 L59.7713,47.1655 C59.7713,45.2555 59.0483,43.3455 57.5923,41.8945" id="Fill-1" fill="#FFFFFF" mask="url(#mask-4)"></path>
                    </g>
                    <g id="Group-6" transform="translate(0.000000, 69.529000)">
                        <mask id="mask-6" fill="white">
                            <use xlink:href="#path-5"></use>
                        </mask>
                        <g id="Clip-5"></g>
                        <path d="M7.4556,0.5117 C3.3356,0.5117 -0.0004,3.8477 -0.0004,7.9687 C-0.0004,12.0837 3.3356,15.4297 7.4556,15.4297 C19.9446,15.4297 30.1116,25.5897 30.1116,38.0797 L45.0296,38.0797 C45.0296,17.3687 28.1726,0.5117 7.4556,0.5117" id="Fill-4" fill="#FFFFFF" mask="url(#mask-6)"></path>
                    </g>
                    <mask id="mask-8" fill="white">
                        <use xlink:href="#path-7"></use>
                    </mask>
                    <g id="Clip-8"></g>
                    <polygon id="Fill-7" fill="#242D3C"  points="26.798 134.529 93.086 134.529 93.086 107.609 26.798 107.609"></polygon>
                </g>
                <g id="Page-1" transform="translate(195.000000, 0.000000)">
                    <path d="M119.9912,145.4443 L119.9912,130.1143 C134.4172,130.1143 146.1542,118.3883 146.1542,103.9653 C146.1542,89.5483 134.4172,77.8103 119.9912,77.8103 L119.9912,62.4813 C142.8702,62.4813 161.4872,81.0863 161.4872,103.9653 C161.4872,126.8403 142.8702,145.4443 119.9912,145.4443 Z" id="Fill-1" fill="#FFFFFF"></path>
                    <mask id="mask-10" fill="white">
                        <use xlink:href="#path-9"></use>
                    </mask>
                    <g id="Clip-4"></g>
                    <polygon id="Fill-3" fill="#FFFFFF" mask="url(#mask-10)" points="112.331 157.17 127.656 157.17 127.656 130.116 112.331 130.116"></polygon>
                    <polygon id="Fill-5" fill="#242D3C" mask="url(#mask-10)" points="76.702 172.5 163.275 172.5 163.275 164.837 76.702 164.837"></polygon>
                    <polygon id="Fill-6" fill="#242D3C" mask="url(#mask-10)" points="95.423 164.834 144.565 164.834 144.565 157.169 95.423 157.169"></polygon>
                    <polygon id="Fill-11" fill="#242D3C" mask="url(#mask-10)" points="76.702 137.783 112.331 137.783 112.331 130.116 76.702 130.116"></polygon>
                    <g id="svgMicroscope" mask="url(#mask-10)">
                        <g transform="translate(84.000000, 30.000000)">
                            <polygon id="Fill-7" fill="#FFFFFF" points="18.1816 86.5869 4.6526 86.5869 4.6526 77.5779 18.1826 77.5779"></polygon>
                            <polygon id="Fill-8" fill="#FFFFFF" points="0.147 18.959 22.687 18.959 22.687 9.938 0.147 9.938"></polygon>
                            <polygon id="Fill-9" fill="#242D3C" points="0.147 77.578 22.687 77.578 22.687 18.959 0.147 18.959"></polygon>
                            <polygon id="Fill-10" fill="#242D3C" points="18.1816 9.9375 4.6526 9.9375 4.6526 0.9225 18.1826 0.9225"></polygon>
                            <path d="M22.6875,18.959 L35.9915,18.959 C39.6835,18.959 43.3745,20.359 46.1955,23.184 C49.0175,25.995 50.4195,29.688 50.4195,33.379 C50.4195,37.072 49.0175,40.767 46.1955,43.585 C43.3745,46.409 39.6835,47.815 35.9915,47.815 L22.6875,47.815 L22.6875,18.959 Z" id="Fill-12" fill="#242D3C"></path>
                            <path d="M42.3085,33.3789 C42.3085,36.8699 39.4775,39.6979 35.9915,39.6979 C32.5085,39.6979 29.6805,36.8699 29.6805,33.3789 C29.6805,29.8989 32.5085,27.0729 35.9915,27.0729 C39.4775,27.0729 42.3085,29.8989 42.3085,33.3789" id="Fill-13" fill="#FFFFFF"></path>
                        </g>
                    </g>
                    <path d="M119.9912,134.623 C121.7382,134.623 123.1472,136.046 123.1472,137.783 C123.1472,139.521 121.7382,140.941 119.9912,140.941 C118.2492,140.941 116.8402,139.521 116.8402,137.783 C116.8402,136.046 118.2492,134.623 119.9912,134.623" id="Fill-14" fill="#242D3C" mask="url(#mask-10)"></path>
                    <path d="M162.4433,19.9746 C162.4433,30.9966 153.5023,39.9376 142.4773,39.9376 C131.4443,39.9376 122.5033,30.9966 122.5033,19.9746 C122.5033,8.9396 131.4443,-0.0004 142.4773,-0.0004 C153.5023,-0.0004 162.4433,8.9396 162.4433,19.9746" id="Fill-19" fill="#FFFFFF" mask="url(#mask-10)"></path>
                    <polygon id="Fill-20" fill="#FFFFFF" mask="url(#mask-10)" points="122.5029 39.9375 122.5029 19.9745 142.4779 19.9745"></polygon>
                    <path d="M142.4824,6.1475 L142.4824,19.9605 L156.2994,19.9605 C156.2994,12.3265 150.1174,6.1475 142.4824,6.1475" id="Fill-21" fill="#E6E5E5" mask="url(#mask-10)"></path>
                    <path d="M142.4824,19.9609 L142.4824,6.1479 C134.8604,6.1479 128.6694,12.3259 128.6694,19.9609 C128.6694,27.5959 134.8604,33.7629 142.4824,33.7629 C146.3114,33.7629 149.7464,32.2179 152.2474,29.7109 L142.4824,19.9609 Z" id="Fill-22" fill="#242D3C" mask="url(#mask-10)"></path>
                    <path d="M142.4824,19.9609 L152.2474,29.7109 C154.7264,27.2339 156.2994,23.7749 156.2994,19.9609 L142.4824,19.9609 Z" id="Fill-23" fill="#16C6CC" mask="url(#mask-10)"></path>
                    <polygon id="Fill-25" fill="#FFFFFF" mask="url(#mask-10)" points="147.569 83.062 149.884 83.062 149.884 79.662 147.569 79.662"></polygon>
                    <path d="M169.1367,109.8252 C169.1367,113.0542 166.5187,115.6822 163.2747,115.6822 C160.0437,115.6822 157.4267,113.0542 157.4267,109.8252 C157.4267,106.5912 160.0437,103.9632 163.2747,103.9632 C166.5187,103.9632 169.1367,106.5912 169.1367,109.8252" id="Fill-39" fill="#242D3C" mask="url(#mask-10)"></path>
                    <path d="M77.4843,24.8389 C77.4843,26.5729 76.0813,27.9799 74.3383,27.9799 C72.6093,27.9799 71.2073,26.5729 71.2073,24.8389 C71.2073,23.1069 72.6093,21.7009 74.3383,21.7009 C76.0813,21.7009 77.4843,23.1069 77.4843,24.8389" id="Fill-40" fill="#FFFFFF" mask="url(#mask-10)"></path>
                </g>
            </g>
        </g>
    </g>
</svg>