<svg data-svg width="502px" height="192px" viewBox="0 0 502 192" preserveAspectRatio="xMinYMin meet"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch -->
    <title>Mobile</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0 146.355 135 146.355 135 0 0 0"></polygon>
        <polygon id="path-3" points="0 179 142.786277 179 142.786277 0 49 0 0 0"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Mobile">
            <g id="Group-10" transform="translate(77.000000, 6.000000)">
                <g id="Group-6">
                    <g id="Page-1" transform="translate(0.000000, 40.000000)">
                        <path d="M114.9277,86.4957 L112.5847,86.0557 C112.7957,84.9347 112.9667,83.7947 113.0927,82.6647 L115.4637,82.9307 C115.3297,84.1177 115.1507,85.3167 114.9277,86.4957 Z M20.0887,86.5867 C19.8647,85.4147 19.6827,84.2157 19.5477,83.0207 L21.9167,82.7507 C22.0457,83.8877 22.2197,85.0257 22.4317,86.1397 L20.0887,86.5867 Z M113.0627,93.4607 L110.8137,92.6717 C111.1867,91.6047 111.5277,90.5037 111.8237,89.3967 L114.1267,90.0147 C113.8147,91.1787 113.4557,92.3387 113.0627,93.4607 Z M21.9667,93.5447 C21.5687,92.4177 21.2087,91.2577 20.8967,90.0997 L23.1987,89.4777 C23.4947,90.5797 23.8377,91.6817 24.2147,92.7527 L21.9667,93.5447 Z M110.1747,100.0697 L108.0677,98.9547 C108.6037,97.9407 109.1057,96.9027 109.5597,95.8637 L111.7427,96.8187 C111.2667,97.9107 110.7387,99.0057 110.1747,100.0697 Z M24.8627,100.1397 C24.3007,99.0827 23.7717,97.9927 23.2907,96.8957 L25.4737,95.9357 C25.9307,96.9787 26.4337,98.0157 26.9677,99.0187 L24.8627,100.1397 Z M106.3327,106.1687 L104.4137,104.7507 C105.0937,103.8327 105.7427,102.8807 106.3487,101.9217 L108.3657,103.1927 C107.7297,104.2007 107.0467,105.2017 106.3327,106.1687 Z M28.7127,106.2287 C28.0007,105.2697 27.3147,104.2707 26.6747,103.2577 L28.6887,101.9817 C29.2987,102.9457 29.9507,103.8957 30.6277,104.8077 L28.7127,106.2287 Z M101.6277,111.6297 L99.9417,109.9427 C100.7437,109.1407 101.5287,108.2947 102.2747,107.4317 L104.0797,108.9887 C103.2957,109.8967 102.4707,110.7867 101.6277,111.6297 Z M33.4247,111.6807 C32.5787,110.8377 31.7527,109.9507 30.9677,109.0447 L32.7707,107.4837 C33.5177,108.3467 34.3037,109.1907 35.1087,109.9927 L33.4247,111.6807 Z M96.1677,116.3337 L94.7517,114.4147 C95.6617,113.7417 96.5627,113.0217 97.4277,112.2767 L98.9857,114.0837 C98.0747,114.8687 97.1267,115.6257 96.1677,116.3337 Z M38.8937,116.3777 C37.9317,115.6697 36.9817,114.9127 36.0717,114.1307 L37.6247,112.3207 C38.4907,113.0657 39.3937,113.7837 40.3077,114.4587 L38.8937,116.3777 Z M90.0697,120.1737 L88.9527,118.0657 C89.9577,117.5327 90.9557,116.9557 91.9177,116.3497 L93.1897,118.3667 C92.1777,119.0047 91.1267,119.6117 90.0697,120.1737 Z M45.0007,120.2107 C43.9487,119.6567 42.8977,119.0517 41.8757,118.4107 L43.1417,116.3897 C44.1137,116.9997 45.1137,117.5747 46.1137,118.1007 L45.0007,120.2107 Z M83.4717,123.0587 L82.6847,120.8077 C83.7517,120.4337 84.8237,120.0137 85.8697,119.5567 L86.8247,121.7407 C85.7247,122.2237 84.5967,122.6657 83.4717,123.0587 Z M51.6147,123.0897 C50.4947,122.6977 49.3637,122.2577 48.2547,121.7757 L49.2017,119.5867 C50.2587,120.0457 51.3337,120.4647 52.3987,120.8377 L51.6147,123.0897 Z M76.5087,124.9267 L76.0637,122.5837 C77.1897,122.3697 78.3147,122.1127 79.4067,121.8197 L80.0247,124.1227 C78.8747,124.4307 77.6917,124.7007 76.5087,124.9267 Z M58.5807,124.9427 C57.3947,124.7197 56.2117,124.4537 55.0627,124.1457 L55.6757,121.8437 C56.7677,122.1327 57.8917,122.3887 59.0177,122.5977 L58.5807,124.9427 Z M69.3477,125.7297 L69.2567,123.3477 C70.4047,123.3037 71.5557,123.2177 72.6767,123.0917 L72.9427,125.4627 C71.7627,125.5927 70.5527,125.6837 69.3477,125.7297 Z M65.7417,125.7317 C64.5477,125.6897 63.3377,125.6017 62.1467,125.4717 L62.4087,123.1007 C63.5407,123.2257 64.6907,123.3097 65.8267,123.3497 L65.7417,125.7317 Z" id="Fill-1" fill="#CCCBCA"></path>
                        <path d="M41.9883,108.2291 C48.9083,113.9791 57.8003,117.4421 67.5003,117.4421 C77.2003,117.4421 86.0903,113.9811 93.0103,108.2291 L67.4993,53.5171 L41.9883,108.2291 Z" id="svg_faq_bg1" fill="#F2F2F2"></path>
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="Clip-6"></g>
                        <polygon id="Fill-5" fill="#353F49" mask="url(#mask-2)" points="65.522 17.666 69.473 17.666 69.473 11.064 65.522 11.064"></polygon>
                        <path d="M67.5,68.7427 C57.357,68.7427 47.63,65.6707 39.37,59.8577 L41.643,56.6277 C49.234,61.9697 58.175,64.7937 67.5,64.7937 C76.825,64.7937 85.767,61.9697 93.357,56.6277 L95.63,59.8577 C87.371,65.6707 77.644,68.7427 67.5,68.7427" id="Fill-7" fill="#353F49" mask="url(#mask-2)"></path>
                        <polygon id="Fill-8" fill="#353F49" mask="url(#mask-2)" points="67.499 39.4117 27.791 124.5727 24.055 124.5727 24.055 113.1147 60.048 35.9367"></polygon>
                        <polygon id="Fill-9" fill="#CCCBCA" mask="url(#mask-2)" points="27.7905 124.5728 25.0935 130.3548 25.0935 124.5728"></polygon>
                        <polygon id="Fill-10" fill="#353F49" mask="url(#mask-2)" points="67.499 39.4117 107.21 124.5727 110.944 124.5727 110.944 113.1147 74.952 35.9367"></polygon>
                        <polygon id="Fill-11" fill="#CCCBCA" mask="url(#mask-2)" points="107.21 124.5728 109.906 130.3548 109.906 124.5728"></polygon>
                        <path d="M67.499,35.4576 C63.134,35.4576 59.589,31.9116 59.589,27.5466 C59.589,23.1816 63.134,19.6446 67.499,19.6446 C71.864,19.6446 75.411,23.1816 75.411,27.5466 C75.411,31.9116 71.864,35.4576 67.499,35.4576 M67.499,15.6896 C60.951,15.6896 55.64,20.9976 55.64,27.5466 C55.64,34.0966 60.951,39.4116 67.499,39.4116 C74.049,39.4116 79.365,34.0966 79.365,27.5466 C79.365,20.9976 74.049,15.6896 67.499,15.6896" id="Fill-12" fill="#F05424" mask="url(#mask-2)"></path>
                        <path d="M67.499,31.5044 C65.315,31.5044 63.544,29.7334 63.544,27.5474 C63.544,25.3664 65.315,23.5984 67.499,23.5984 C69.684,23.5984 71.456,25.3664 71.456,27.5474 C71.456,29.7334 69.684,31.5044 67.499,31.5044" id="Fill-13" fill="#353F49" mask="url(#mask-2)"></path>
                        <polygon id="Fill-14" fill="#353F49" mask="url(#mask-2)" points="63.545 11.064 71.456 11.064 71.456 0 63.545 0"></polygon>
                        <polygon id="Fill-15" fill="#FFBB33" mask="url(#mask-2)" points="0 146.355 135 146.355 135 130.355 0 130.355"></polygon>
                        <polygon id="Fill-16" fill="#FFFFFF" mask="url(#mask-2)" points="2.663 133.025 4.266 133.025 4.266 130.355 2.663 130.355"></polygon>
                        <polygon id="Fill-17" fill="#FFFFFF" mask="url(#mask-2)" points="6.939 133.025 8.541 133.025 8.541 130.355 6.939 130.355"></polygon>
                        <polygon id="Fill-18" fill="#FFFFFF" mask="url(#mask-2)" points="11.204 133.025 12.804 133.025 12.804 130.355 11.204 130.355"></polygon>
                        <polygon id="Fill-19" fill="#FFFFFF" mask="url(#mask-2)" points="15.468 133.025 17.082 133.025 17.082 130.355 15.468 130.355"></polygon>
                        <polygon id="Fill-20" fill="#FFFFFF" mask="url(#mask-2)" points="19.743 133.025 21.346 133.025 21.346 130.355 19.743 130.355"></polygon>
                        <polygon id="Fill-21" fill="#FFFFFF" mask="url(#mask-2)" points="24.008 133.025 25.611 133.025 25.611 130.355 24.008 130.355"></polygon>
                        <polygon id="Fill-22" fill="#FFFFFF" mask="url(#mask-2)" points="28.276 133.025 29.886 133.025 29.886 130.355 28.276 130.355"></polygon>
                        <polygon id="Fill-23" fill="#FFFFFF" mask="url(#mask-2)" points="32.549 133.025 34.15 133.025 34.15 130.355 32.549 130.355"></polygon>
                        <polygon id="Fill-24" fill="#FFFFFF" mask="url(#mask-2)" points="36.815 133.025 38.414 133.025 38.414 130.355 36.815 130.355"></polygon>
                        <polygon id="Fill-25" fill="#FFFFFF" mask="url(#mask-2)" points="41.09 133.025 42.691 133.025 42.691 130.355 41.09 130.355"></polygon>
                        <polygon id="Fill-26" fill="#FFFFFF" mask="url(#mask-2)" points="45.355 133.025 46.954 133.025 46.954 130.355 45.355 130.355"></polygon>
                        <polygon id="Fill-27" fill="#FFFFFF" mask="url(#mask-2)" points="49.618 133.025 51.23 133.025 51.23 130.355 49.618 130.355"></polygon>
                        <polygon id="Fill-28" fill="#FFFFFF" mask="url(#mask-2)" points="53.896 133.025 55.497 133.025 55.497 130.355 53.896 130.355"></polygon>
                        <polygon id="Fill-29" fill="#FFFFFF" mask="url(#mask-2)" points="58.158 133.025 59.76 133.025 59.76 130.355 58.158 130.355"></polygon>
                        <polygon id="Fill-30" fill="#FFFFFF" mask="url(#mask-2)" points="62.434 133.025 64.035 133.025 64.035 130.355 62.434 130.355"></polygon>
                        <polygon id="Fill-31" fill="#FFFFFF" mask="url(#mask-2)" points="66.699 133.025 68.301 133.025 68.301 130.355 66.699 130.355"></polygon>
                        <polygon id="Fill-32" fill="#FFFFFF" mask="url(#mask-2)" points="70.966 133.025 72.569 133.025 72.569 130.355 70.966 130.355"></polygon>
                        <polygon id="Fill-33" fill="#FFFFFF" mask="url(#mask-2)" points="75.238 133.025 76.842 133.025 76.842 130.355 75.238 130.355"></polygon>
                        <polygon id="Fill-34" fill="#FFFFFF" mask="url(#mask-2)" points="79.504 133.025 81.105 133.025 81.105 130.355 79.504 130.355"></polygon>
                        <polygon id="Fill-35" fill="#FFFFFF" mask="url(#mask-2)" points="83.771 133.025 85.381 133.025 85.381 130.355 83.771 130.355"></polygon>
                        <polygon id="Fill-36" fill="#FFFFFF" mask="url(#mask-2)" points="88.047 133.025 89.645 133.025 89.645 130.355 88.047 130.355"></polygon>
                        <polygon id="Fill-37" fill="#FFFFFF" mask="url(#mask-2)" points="92.309 133.025 93.912 133.025 93.912 130.355 92.309 130.355"></polygon>
                        <polygon id="Fill-38" fill="#FFFFFF" mask="url(#mask-2)" points="96.584 133.025 98.184 133.025 98.184 130.355 96.584 130.355"></polygon>
                        <polygon id="Fill-39" fill="#FFFFFF" mask="url(#mask-2)" points="100.85 133.025 102.451 133.025 102.451 130.355 100.85 130.355"></polygon>
                        <polygon id="Fill-40" fill="#FFFFFF" mask="url(#mask-2)" points="105.115 133.025 106.722 133.025 106.722 130.355 105.115 130.355"></polygon>
                        <polygon id="Fill-41" fill="#FFFFFF" mask="url(#mask-2)" points="109.39 133.025 110.991 133.025 110.991 130.355 109.39 130.355"></polygon>
                        <polygon id="Fill-42" fill="#FFFFFF" mask="url(#mask-2)" points="113.654 133.025 115.255 133.025 115.255 130.355 113.654 130.355"></polygon>
                        <polygon id="Fill-43" fill="#FFFFFF" mask="url(#mask-2)" points="117.924 133.025 119.531 133.025 119.531 130.355 117.924 130.355"></polygon>
                        <polygon id="Fill-44" fill="#FFFFFF" mask="url(#mask-2)" points="122.195 133.025 123.797 133.025 123.797 130.355 122.195 130.355"></polygon>
                        <polygon id="Fill-45" fill="#FFFFFF" mask="url(#mask-2)" points="126.459 133.025 128.062 133.025 128.062 130.355 126.459 130.355"></polygon>
                        <polygon id="Fill-46" fill="#FFFFFF" mask="url(#mask-2)" points="130.734 133.025 132.336 133.025 132.336 130.355 130.734 130.355"></polygon>
                    </g>
                    <g id="Page-1" transform="translate(158.000000, 0.000000)">
                        <polygon id="Fill-1" fill="#FFBB33" points="0 169 120 169 120 11 0 11"></polygon>
                        <polygon id="Fill-2" fill="#FFFFFF" points="107 24.0162224 107 156 13 156 13 11 94.1057016 11"></polygon>
                        <polygon id="Fill-3" fill="#CCCBCA" points="107 24 94 24 94 11"></polygon>
                        <polygon id="Fill-4" fill="#E6E5E5" points="40 69 43 69 43 62 40 62"></polygon>
                        <polygon id="Fill-5" fill="#E6E5E5" points="68 90 71 90 71 83 68 83"></polygon>
                        <polygon id="Fill-6" fill="#E6E5E5" points="68 111 71 111 71 104 68 104"></polygon>
                        <polygon id="Fill-7" fill="#E6E5E5" points="68 132 71 132 71 125 68 125"></polygon>
                        <polygon id="svg_faq_bar1" fill="#FF6D3B" points="32 83 88 83 88 69 32 69"></polygon>
                        <polygon id="Fill-9" fill="#242D3C" points="32 62 51 62 51 34 32 34"></polygon>
                        <polygon id="Fill-10" fill="#CCCBCA" points="51 104 88 104 88 90 51 90"></polygon>
                        <polygon id="Fill-11" fill="#CCCBCA" points="51 125 88 125 88 111 51 111"></polygon>
                        <polygon id="Fill-12" fill="#242D3C" points="51 146 88 146 88 132 51 132"></polygon>
                        <polygon id="Fill-13" fill="#242D3C" points="69 37 88 37 88 34 69 34"></polygon>
                        <polygon id="Fill-14" fill="#242D3C" points="69 42 79 42 79 39 69 39"></polygon>
                        <path d="M61.66475,39.332786 L64.3360715,39.332786 L64.3360715,36.666393 L61.66475,36.666393 L61.66475,39.332786 Z M59,42 L67,42 L67,34 L59,34 L59,42 Z" id="Fill-15" fill="#FF6D3B"></path>
                        <polygon id="Fill-16" fill="#242D3C" points="69 47 88 47 88 44 69 44"></polygon>
                        <polygon id="Fill-17" fill="#242D3C" points="69 52 79 52 79 49 69 49"></polygon>
                        <path d="M61.66475,49.333607 L64.3360715,49.333607 L64.3360715,46.666393 L61.66475,46.666393 L61.66475,49.333607 Z M59,52 L67,52 L67,44 L59,44 L59,52 Z" id="Fill-18" fill="#FF6D3B"></path>
                        <polygon id="Fill-19" fill="#242D3C" points="69 58 88 58 88 55 69 55"></polygon>
                        <polygon id="Fill-20" fill="#242D3C" points="69 63 79 63 79 60 69 60"></polygon>
                        <path d="M61.66475,60.3355236 L64.3360715,60.3355236 L64.3360715,57.6677618 L61.66475,57.6677618 L61.66475,60.3355236 Z M59,63 L67,63 L67,55 L59,55 L59,63 Z" id="Fill-21" fill="#FF6D3B"></path>
                        <g id="Group-34">
                            <path d="M48.4041011,110.75734 L38.3692315,110.75734 C36.4519435,110.75734 34.8975957,109.200818 34.8975957,107.280848 C34.8975957,105.36477 36.4519435,103.808248 38.3692315,103.808248 L48.4041011,103.808248 L48.4041011,101.30147 L38.3692315,101.30147 C35.0755685,101.30147 32.3989815,103.985692 32.3989815,107.280848 C32.3989815,110.579118 35.0755685,113.26334 38.3692315,113.26334 L48.4041011,113.26334 L48.4041011,110.75734 Z" id="Fill-22" fill="#242D3C"></path>
                            <path d="M48.4041011,131.613097 L38.3692315,131.613097 C36.4519435,131.613097 34.8975957,130.056575 34.8975957,128.136605 C34.8975957,126.217414 36.4519435,124.660114 38.3692315,124.660114 L48.4041011,124.660114 L48.4041011,122.158005 L38.3692315,122.158005 C35.0755685,122.158005 32.3989815,124.837557 32.3989815,128.136605 C32.3989815,131.435653 35.0755685,134.115983 38.3692315,134.115983 L48.4041011,134.115983 L48.4041011,131.613097 Z" id="Fill-24" fill="#242D3C"></path>
                            <path d="M55.4001429,11.1213478 C55.4001429,8.49160435 57.5404799,6.35216522 60.1665505,6.35216522 C62.7902897,6.35216522 64.9244092,8.49160435 64.9244092,11.1213478 L55.4001429,11.1213478 Z M71.2677027,11.1213478 C71.2677027,4.97542174 66.2968984,0 60.1665505,0 C54.0292082,0 49.0568495,4.97542174 49.0568495,11.1213478 L39.8014853,11.1213478 L39.8014853,24.0957348 L80.5215125,24.0957348 L80.5215125,11.1213478 L71.2677027,11.1213478 Z" id="Fill-26" fill="#FFBB33"></path>
                            <mask id="mask-4" fill="white">
                                <use xlink:href="#path-3"></use>
                            </mask>
                            <g id="Clip-29"></g>
                            <polygon id="Fill-28" fill="#FFBB33" mask="url(#mask-4)" points="131.558446 168.691935 142.783946 168.691935 142.783946 79.8347783 131.558446 79.8347783"></polygon>
                            <polygon id="Fill-30" fill="#FFFFFF" mask="url(#mask-4)" points="131.558446 171.390943 142.783946 171.390943 142.783946 168.688043 131.558446 168.688043"></polygon>
                            <path d="M142.785966,171.396002 L142.785966,173.382902 C142.785966,176.486607 140.276472,179.000389 137.178657,179.000389 C134.07307,179.000389 131.558912,176.486607 131.558912,173.382902 L131.558912,171.396002 L142.785966,171.396002 Z" id="Fill-31" fill="#FF6D3B" mask="url(#mask-4)"></path>
                            <polygon id="Fill-32" fill="#FFFFFF" mask="url(#mask-4)" points="142.784412 79.8347783 139.032216 72.6436478 135.298673 72.6436478 131.558912 79.8347783"></polygon>
                            <polygon id="Fill-33" fill="#D9D8D7" mask="url(#mask-4)" points="139.032139 72.6438813 137.160704 69.0490943 135.298595 72.6438813"></polygon>
                        </g>
                    </g>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.2">
                        <g id="faq-nbg" transform="translate(0, 0)" fill="#FFFFFF">
                            <path d="M119.025003,79.7249942 C129.000005,79.7249942 136.775006,86.9499954 136.775006,97.4999971 C136.775006,102.024998 135.350006,105.924999 132.900006,108.899999 L137.875007,115 L135.675006,115 L131.700006,110.224999 C128.525005,113.45 124.025004,115.275 119.025003,115.275 C109.050002,115.275 101.275001,108.049999 101.275001,97.4999971 C101.275001,86.9499954 109.050002,79.7249942 119.025003,79.7249942 Z M119.025003,81.4999945 C110.200002,81.4999945 103.225001,87.9249956 103.225001,97.4999971 C103.225001,107.074999 110.200002,113.5 119.025003,113.5 C123.575004,113.5 127.650005,111.774999 130.525005,108.774999 L121.325004,97.5749971 L123.550004,97.5749971 L131.675006,107.424999 C133.650006,104.774998 134.825006,101.399998 134.825006,97.4999971 C134.825006,87.9249956 127.825005,81.4999945 119.025003,81.4999945 Z" id="Q"></path>
                        </g>
                    </g>

                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.2">
                        <g id="faq-nbg" transform="translate(0, 0)" fill="#FFFFFF">
                            <polygon id="F" points="30.0250046 96.499997 9.3000012 96.499997 9.3000012 81.7749946 30.7000047 81.7749946 30.7000047 79.9999943 7.45000089 79.9999943 7.45000089 115 9.3000012 115 9.3000012 98.2499973 30.0250046 98.2499973"></polygon>
                        </g>
                    </g>

                </g>
            </g>
        </g>
    </g>
</svg>